<p>Data for Japan は日本のオープンデータのハブを目指し、運営する有志の集まりです。<a href="http://linkedopendata.jp">Linked Open Data Initiative</a>, <a href="http://code4japan.org">Code for Japan</a>, <a href="http://okfn.jp">Open Knwledge Foundation Japan</a>などのメンバーが参加しています。</p>

<p><a href="http://linkedopendata.jp"><img src="/images/lodi.jpg" alt="Linked Open Data Initiative" title="Linked Open Data Initiative" width="200"></a><a href="http://code4japan.org"><img src="/images/cfj.png" alt="Code for Japan"  width="200"></a><a href="http://okfn.jp"><img src="/images/okfj.jpg" alt="Open Knowledge Foundation Japan" title="Open Knowledge Foundation Japan"  width="200"></a></p>


<h2>CKANについて</h2>
{% trans %}
<p>CKAN is the world’s leading open-source data portal platform.</p>

<p>CKAN is a complete out-of-the-box software solution that makes data
accessible and usable – by providing tools to streamline publishing, sharing,
finding and using data (including storage of data and provision of robust data
APIs). CKAN is aimed at data publishers (national and regional governments,
companies and organizations) wanting to make their data open and available.</p>

<p>CKAN is used by governments and user groups worldwide and powers a variety
of official and community data portals including portals for local, national
and international government, such as the UK’s <a href="http://data.gov.uk">data.gov.uk</a> and the
European Union’s <a href="http://publicdata.eu/">publicdata.eu</a>, the Brazilian <a href="http://dados.gov.br/">dados.gov.br</a>, Dutch and
Netherland government portals, as well as city and municipal sites in the US,
UK, Argentina, Finland and elsewhere.</p>

<p>CKAN: <a href="http://ckan.org/">http://ckan.org/</a><br />
CKAN Tour: <a href="http://ckan.org/tour/">http://ckan.org/tour/</a><br />
Features overview: <a href="http://ckan.org/features/">http://ckan.org/features/</a></p>
{% endtrans %}
