<div class="module-content box">
  <header>
    <h1 class="page-heading">Data for Japan</h1>
  </header>
  <section class="featured media-overlay">
    <p>Data for Japan は日本のオープンデータのポータルサイトです。</p>
    <p>初めての方は<a href="/about">Data for Japanについて</a>をお読みください。</a></p>
    <p><strong>注意: Data for Japanは2016年8月31日にサイトを閉じることになりました。
      自治体のオープンデータを集めたサイトとしては、<a href="http://udct-data.aigid.jp/">アーバンデータチャレンジデータポータル</a>が
      をご参照ください。データファイル置き場としては、
      <a href="http://linkdata.org">LinkData.org</a>や<a href="http://github.com">GitHub</a>等をご活用ください。
      Data for Japanのダンプファイル(JSON Lines形式)は<a href="/dump/">に置いてあります。</a></strong></p>
  </section>
</div>
